:root {
  --primary: dodgerblue;
  --primary-dark: #1872cc;
  --danger: #ff1e1e;
  --danger-dark: #cc1818;
  --foreground: black;
  --foreground-light: #636363;
  --background: white;
  --very-light-grey: #f7f7f7;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: white;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "controls settings"
    "canvas settings";
  grid-template-columns: auto 400px;
  grid-template-rows: min-content auto;
  background-color: red;
}

#renderer {
  width: 100%;
  height: 100%;
}

#canvas {
  grid-area: canvas;
  background-color: var(--very-light-grey);
}

#controls {
  grid-area: controls;
  align-content: center;
  text-align: center;
  padding: 10px;
  background-color: white;
}

#controls-bar {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: min-content;
}

#left-controls {
  align-content: start;
  text-align: left;
}

#right-controls {
  align-content: end;
  text-align: right;
}

#settings {
  grid-area: settings;
  padding: 0 20px 20px 20px;
  background-color: slategray;
}
